[Unit]
Description=LIRC Socket Init
ConditionPathExists=|!/dev/lircd

[Service]
Type=oneshot
EnvironmentFile=/etc/conf.d/lircd.conf
#ExecStart=/bin/sh -c "rm -f /run/lirc/lircd && ln -s /run/lirc/lircd /dev/lircd"
ExecStart=/bin/sh -c "/bin/ln -s /run/lirc/lircd /dev/lircd"

[Install]
WantedBy=multi-user.target
